<div>
  
  <div fxFlex="20%" fxFlex.sm="10%" fxFlex.xs="5%"></div>
  
  <mat-card class="lobby-card" fxFlex="60%" fxFlex.sm="80%" fxFlex.xs="90%" >

    <mat-card-title>
      <ng-container *ngIf="lobby && lobby.name; else noTitle">
        {{lobby.name}}
      </ng-container>
      <ng-template #noTitle>
        Lobby
      </ng-template>
    </mat-card-title>

    <mat-card-content>
      <br/>
      <ng-container *ngIf="notFound; else displayLobby">
        <mat-icon class="error"></mat-icon>
        <span class="label">Sorry! We could not find this lobby.</span>
      </ng-container>
      <ng-template #displayLobby>
        <ng-container *ngIf="lobby.id; else loading">
          <h6>Game: {{lobby.game}}</h6>
          <br/>
          Players: {{lobby.members}} / {{lobby.treshold}}
          <br/>
          <p>{{lobby.description}}</p>
        </ng-container>
        <ng-template #loading>
          <div class="loader"></div>
          <div fxLayoutAlign="center">
            Loading...
          </div>
        </ng-template>
      </ng-template>
      <br/>
    </mat-card-content>

  </mat-card>
  
  <div fxFlex="20%" fxFlex.sm="10%" fxFlex.xs="5%"></div>

</div>