<div>
  
  <div fxFlex="20%" fxFlex.sm="10%" fxFlex.xs="5%"></div>
  
  <mat-card class="lobby-card" fxFlex="60%" fxFlex.sm="80%" fxFlex.xs="90%" >

    <mat-card-title>
      <ng-container *ngIf="lobby && lobby.name; else noTitle">
        {{lobby.name}}
      </ng-container>
      <ng-template #noTitle>
        Lobby
      </ng-template>
    </mat-card-title>

    <mat-card-content>
      <br/>
      <ng-container *ngIf="notFound; else displayLobby">
        <mat-icon class="error"></mat-icon>
        <span class="label">Sorry! We could not find this lobby.</span>
      </ng-container>
      <ng-template #displayLobby>
        <ng-container *ngIf="lobby.id; else loading">
          <h6>Game: {{lobby.game}}</h6>
          <br/>
          <p>{{lobby.description}}</p>
        </ng-container>
        <ng-template #loading>
          <div class="loader"></div>
          <div fxLayoutAlign="center">
            Loading...
          </div>
        </ng-template>
      </ng-template>
      <br/>
      <!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse commodo dolor nibh, vel luctus neque laoreet in. Pellentesque ac est rutrum, lobortis turpis eget, sodales nunc. Aliquam eget mollis dui. Fusce ac risus elementum, tincidunt velit sit amet, malesuada nunc. Vestibulum vitae blandit odio. In quis lacinia lacus, ac ultricies neque. Praesent consectetur nunc turpis, at ullamcorper nulla rhoncus eu. Integer sit amet ligula in nunc condimentum imperdiet. Quisque ultrices ipsum vehicula convallis varius. Donec vehicula aliquet velit vel volutpat. Donec at cursus metus. Nam sit amet quam laoreet leo pellentesque tincidunt quis nec leo. Nam metus libero, aliquam a nulla ut, pellentesque faucibus lorem. Nam pulvinar ante a nisl scelerisque placerat. Maecenas gravida erat eget ligula facilisis, vel maximus tortor facilisis.  -->
    </mat-card-content>

  </mat-card>
  
  <div fxFlex="20%" fxFlex.sm="10%" fxFlex.xs="5%"></div>

</div>