@import "~@angular/material/prebuilt-themes/indigo-pink.css";

bpm-root {
  margin: 0px;
  background-color: black;
  height: 100%;
}
.bg {
  height: 100%;
  background-image: url('../assets/background-menu.jpg');
  background-position: center;
  background-size: cover;
}
.card {
  min-width: 80%;
}

.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

a {
  cursor: pointer;
}

.content {
  margin-top: 30px;
  width: 100%;
}