* {
    margin: 0px;
    padding: 0px;
}
body, html {
    height: 100%;
    background-color: black;
}
bpm-root {
    height: 100%;
}

.toast-top-right-custom {
  margin-top: 54px;
  top: 12px;
  right: 12px;
}