* {
    margin: 0px;
    padding: 0px;
}
body, html {
    height: 100%;
    background-color: black;
}
bpm-root {
    height: 100%;
}
.toast-title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.toast-message {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}