<div>
  <mat-card>
    <mat-form-field class="separate-input">
      <input matInput placeholder="Username" [(ngModel)]="user.username" required/>
    </mat-form-field>

    <mat-form-field class="separate-input">
      <input matInput placeholder="Phone" [(ngModel)]="user.phone" />
    </mat-form-field>
    <mat-form-field class="separate-input">
      <input matInput placeholder="Email" [(ngModel)]="user.username" required/>
    </mat-form-field>
    <mat-form-field class="separate-input">
      <input matInput placeholder="Facebook" [(ngModel)]="user.username" />
    </mat-form-field>
    <mat-form-field class="separate-input">
      <input matInput placeholder="ShowPhone" [(ngModel)]="user.username" />
    </mat-form-field>
    <mat-form-field class="separate-input">
      <input matInput placeholder="ShowEmail" [(ngModel)]="user.username" />
    </mat-form-field>
    <mat-form-field class="separate-input">
      <input matInput placeholder="ShowFacebook" [(ngModel)]="user.username" />
    </mat-form-field>

    <mat-form-field class="separate-input">
      <input matInput type="password" placeholder="Password" [(ngModel)]="user.password" required/>
    </mat-form-field>
    <button class="margin-left" mat-raised-button color="primary" matInput value="Register" (click)="register()">Register</button>
  </mat-card>
</div>
